In [1]:
import numpy as np       
import pandas as pd   
import matplotlib as plt                  
%matplotlib inline

In [2]:
df = pd.read_csv('C:\GITHUB COLLECTIONS\ML-Purchasing-Capabilities-of-a-Customer\Datasets\Cleaned_Dob_with_no_outliers__Data.csv')

<>:1: SyntaxWarning: invalid escape sequence '\G'
<>:1: SyntaxWarning: invalid escape sequence '\G'
C:\Users\Kirit\AppData\Local\Temp\ipykernel_30304\1078155496.py:1: SyntaxWarning: invalid escape sequence '\G'
  df = pd.read_csv('C:\GITHUB COLLECTIONS\ML-Purchasing-Capabilities-of-a-Customer\Datasets\Cleaned_Dob_with_no_outliers__Data.csv')

In [3]:
df = df.drop('Unnamed: 0' , axis= True)

In [4]:
df.head()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionAmount (INR),FrequencyOfPurchasing,Age,TransactionTime_in_hrs,MonthlyTransactionAverage,RecencyDays,CustomerLifetimeValue,LoyaltyScore,CustomerSegment,HighSpender,EstimatedYearlySpending,NormalizedTransactionAmount,Year
0,T1,C5841053,1994-01-10,F,JAMSHEDPUR,17819.05,2016-08-02,25.0,1,30,3.977972,25.000,59,25469.05,685.35,Middle Balance,0,300.0,0.000016,1994
1,T3,C4417068,1996-11-26,F,MUMBAI,17874.44,2016-08-02,459.0,1,28,3.964222,459.000,59,158328.44,38.86,Middle Balance,0,5508.0,0.000294,1996
2,T4,C5342380,2002-09-14,F,MUMBAI,866503.21,2016-08-02,2060.0,5,22,3.964278,412.000,59,992575.21,420.43,High Balance,0,4944.0,0.001320,1973
3,T5,C9031234,2007-03-24,F,NAVI MUMBAI,6714.43,2016-08-02,1762.5,4,17,5.032111,440.625,59,141545.68,3.81,Middle Balance,0,5287.5,0.001130,1988
4,T6,C1536588,2002-10-08,F,ITANAGAR,53609.20,2016-08-02,676.0,5,22,4.831667,135.200,59,94980.40,79.19,High Balance,0,1622.4,0.000433,1972

In [5]:
df.describe()

,CustAccountBalance,TransactionAmount (INR),FrequencyOfPurchasing,Age,TransactionTime_in_hrs,MonthlyTransactionAverage,RecencyDays,CustomerLifetimeValue,LoyaltyScore,HighSpender,EstimatedYearlySpending,NormalizedTransactionAmount,Year
count,9.325890e+05,9.325890e+05,932589.000000,932589.000000,932589.000000,9.325890e+05,932589.000000,9.325890e+05,9.325890e+05,932589.000000,9.325890e+05,932589.000000,932589.000000
mean,8.758597e+04,1.355825e+03,2.999020,24.828787,4.378557,6.188964e+02,35.840628,2.912242e+05,6.691609e+02,0.043542,7.426757e+03,0.000869,1986.454665
std,4.536965e+05,5.829430e+03,1.415027,5.975337,1.429698,3.296819e+03,15.149525,1.211248e+06,3.586591e+04,0.204074,3.956183e+04,0.003737,6.184860
min,0.000000e+00,0.000000e+00,1.000000,15.000000,0.000000,0.000000e+00,-21.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,1969.000000
25%,4.401730e+03,1.500000e+02,2.000000,20.000000,3.454000,5.000000e+01,24.000000,3.427323e+04,8.140000e+00,0.000000,6.000000e+02,0.000096,1983.000000
50%,1.525172e+04,4.035000e+02,3.000000,23.000000,4.580722,1.520000e+02,36.000000,8.958903e+04,3.824000e+01,0.000000,1.824000e+03,0.000259,1988.000000
75%,4.998871e+04,1.056000e+03,4.000000,31.000000,5.565167,4.540000e+02,49.000000,2.358818e+05,1.475000e+02,0.000000,5.448000e+03,0.000677,1991.000000
max,6.138221e+07,1.560035e+06,5.000000,34.000000,6.554417,1.380003e+06,60.000000,4.499796e+08,2.438334e+07,1.000000,1.656003e+07,1.000000,2016.000000

In [6]:
print(df['HighSpender'].value_counts())

HighSpender
0    891982
1     40607
Name: count, dtype: int64

In [7]:
df_balanced = df.drop('HighSpender' , axis = True)

In [8]:
df_balanced = df_balanced.drop('CustomerID' , axis= True)
df_balanced = df_balanced.drop('TransactionID' , axis= True)
df_balanced = df_balanced.drop('Year' , axis= True)
df_balanced = df_balanced.drop('CustLocation' , axis= True)
df_balanced = df_balanced.drop('TransactionTime_in_hrs' , axis= True)

In [9]:
df_balanced.head()

,CustomerDOB,CustGender,CustAccountBalance,TransactionDate,TransactionAmount (INR),FrequencyOfPurchasing,Age,MonthlyTransactionAverage,RecencyDays,CustomerLifetimeValue,LoyaltyScore,CustomerSegment,EstimatedYearlySpending,NormalizedTransactionAmount
0,1994-01-10,F,17819.05,2016-08-02,25.0,1,30,25.000,59,25469.05,685.35,Middle Balance,300.0,0.000016
1,1996-11-26,F,17874.44,2016-08-02,459.0,1,28,459.000,59,158328.44,38.86,Middle Balance,5508.0,0.000294
2,2002-09-14,F,866503.21,2016-08-02,2060.0,5,22,412.000,59,992575.21,420.43,High Balance,4944.0,0.001320
3,2007-03-24,F,6714.43,2016-08-02,1762.5,4,17,440.625,59,141545.68,3.81,Middle Balance,5287.5,0.001130
4,2002-10-08,F,53609.20,2016-08-02,676.0,5,22,135.200,59,94980.40,79.19,High Balance,1622.4,0.000433

In [10]:
df_balanced.describe()

,CustAccountBalance,TransactionAmount (INR),FrequencyOfPurchasing,Age,MonthlyTransactionAverage,RecencyDays,CustomerLifetimeValue,LoyaltyScore,EstimatedYearlySpending,NormalizedTransactionAmount
count,9.325890e+05,9.325890e+05,932589.000000,932589.000000,9.325890e+05,932589.000000,9.325890e+05,9.325890e+05,9.325890e+05,932589.000000
mean,8.758597e+04,1.355825e+03,2.999020,24.828787,6.188964e+02,35.840628,2.912242e+05,6.691609e+02,7.426757e+03,0.000869
std,4.536965e+05,5.829430e+03,1.415027,5.975337,3.296819e+03,15.149525,1.211248e+06,3.586591e+04,3.956183e+04,0.003737
min,0.000000e+00,0.000000e+00,1.000000,15.000000,0.000000e+00,-21.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,4.401730e+03,1.500000e+02,2.000000,20.000000,5.000000e+01,24.000000,3.427323e+04,8.140000e+00,6.000000e+02,0.000096
50%,1.525172e+04,4.035000e+02,3.000000,23.000000,1.520000e+02,36.000000,8.958903e+04,3.824000e+01,1.824000e+03,0.000259
75%,4.998871e+04,1.056000e+03,4.000000,31.000000,4.540000e+02,49.000000,2.358818e+05,1.475000e+02,5.448000e+03,0.000677
max,6.138221e+07,1.560035e+06,5.000000,34.000000,1.380003e+06,60.000000,4.499796e+08,2.438334e+07,1.656003e+07,1.000000

In [11]:
df = df_balanced

In [12]:
# Savings Potential: CustAccountBalance - TotalSpending
df['SavingsPotential'] = df['CustAccountBalance'] - df['EstimatedYearlySpending']

# Interpret SavingsPotential
df['SavingsPotentialStatus'] = df['SavingsPotential'].apply(
    lambda x: 'Surplus' if x > 0 else 'Overspending'
)

In [13]:
# Normalize each component for balanced scoring
df['RecencyScore'] = 1 / (1 + df['RecencyDays'])  # Normalize: Lower recency = Higher score
df['FrequencyScore'] = df['FrequencyOfPurchasing'] / df['FrequencyOfPurchasing'].max()  # Normalize frequency
df['MonetaryScore'] = df['EstimatedYearlySpending'] / df['EstimatedYearlySpending'].max()  # Normalize spending

# Weighted RFM Score: Customize weights as needed
df['RFM_Score'] = (df['RecencyScore'] * 0.4) + (df['FrequencyScore'] * 0.3) + (df['MonetaryScore'] * 0.3)

In [14]:
df.head()

,CustomerDOB,CustGender,CustAccountBalance,TransactionDate,TransactionAmount (INR),FrequencyOfPurchasing,Age,MonthlyTransactionAverage,RecencyDays,CustomerLifetimeValue,LoyaltyScore,CustomerSegment,EstimatedYearlySpending,NormalizedTransactionAmount,SavingsPotential,SavingsPotentialStatus,RecencyScore,FrequencyScore,MonetaryScore,RFM_Score
0,1994-01-10,F,17819.05,2016-08-02,25.0,1,30,25.000,59,25469.05,685.35,Middle Balance,300.0,0.000016,17519.05,Surplus,0.016667,0.2,0.000018,0.066672
1,1996-11-26,F,17874.44,2016-08-02,459.0,1,28,459.000,59,158328.44,38.86,Middle Balance,5508.0,0.000294,12366.44,Surplus,0.016667,0.2,0.000333,0.066766
2,2002-09-14,F,866503.21,2016-08-02,2060.0,5,22,412.000,59,992575.21,420.43,High Balance,4944.0,0.001320,861559.21,Surplus,0.016667,1.0,0.000299,0.306756
3,2007-03-24,F,6714.43,2016-08-02,1762.5,4,17,440.625,59,141545.68,3.81,Middle Balance,5287.5,0.001130,1426.93,Surplus,0.016667,0.8,0.000319,0.246762
4,2002-10-08,F,53609.20,2016-08-02,676.0,5,22,135.200,59,94980.40,79.19,High Balance,1622.4,0.000433,51986.80,Surplus,0.016667,1.0,0.000098,0.306696

In [15]:
df.describe()

,CustAccountBalance,TransactionAmount (INR),FrequencyOfPurchasing,Age,MonthlyTransactionAverage,RecencyDays,CustomerLifetimeValue,LoyaltyScore,EstimatedYearlySpending,NormalizedTransactionAmount,SavingsPotential,RecencyScore,FrequencyScore,MonetaryScore,RFM_Score
count,9.325890e+05,9.325890e+05,932589.000000,932589.000000,9.325890e+05,932589.000000,9.325890e+05,9.325890e+05,9.325890e+05,932589.000000,9.325890e+05,932589.000000,932589.000000,932589.000000,932589.000000
mean,8.758597e+04,1.355825e+03,2.999020,24.828787,6.188964e+02,35.840628,2.912242e+05,6.691609e+02,7.426757e+03,0.000869,8.015921e+04,0.037493,0.599804,0.000448,0.195073
std,4.536965e+05,5.829430e+03,1.415027,5.975337,3.296819e+03,15.149525,1.211248e+06,3.586591e+04,3.956183e+04,0.003737,4.522674e+05,0.052498,0.283005,0.002389,0.087361
min,0.000000e+00,0.000000e+00,1.000000,15.000000,0.000000e+00,-21.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,-1.646137e+07,-0.066667,0.200000,0.000000,0.033464
25%,4.401730e+03,1.500000e+02,2.000000,20.000000,5.000000e+01,24.000000,3.427323e+04,8.140000e+00,6.000000e+02,0.000096,1.276160e+03,0.020000,0.400000,0.000036,0.128288
50%,1.525172e+04,4.035000e+02,3.000000,23.000000,1.520000e+02,36.000000,8.958903e+04,3.824000e+01,1.824000e+03,0.000259,1.140224e+04,0.026316,0.600000,0.000110,0.191126
75%,4.998871e+04,1.056000e+03,4.000000,31.000000,4.540000e+02,49.000000,2.358818e+05,1.475000e+02,5.448000e+03,0.000677,4.386743e+04,0.040000,0.800000,0.000329,0.256717
max,6.138221e+07,1.560035e+06,5.000000,34.000000,1.380003e+06,60.000000,4.499796e+08,2.438334e+07,1.656003e+07,1.000000,5.269275e+07,1.000000,1.000000,1.000000,0.704348

In [16]:
df.head()

,CustomerDOB,CustGender,CustAccountBalance,TransactionDate,TransactionAmount (INR),FrequencyOfPurchasing,Age,MonthlyTransactionAverage,RecencyDays,CustomerLifetimeValue,LoyaltyScore,CustomerSegment,EstimatedYearlySpending,NormalizedTransactionAmount,SavingsPotential,SavingsPotentialStatus,RecencyScore,FrequencyScore,MonetaryScore,RFM_Score
0,1994-01-10,F,17819.05,2016-08-02,25.0,1,30,25.000,59,25469.05,685.35,Middle Balance,300.0,0.000016,17519.05,Surplus,0.016667,0.2,0.000018,0.066672
1,1996-11-26,F,17874.44,2016-08-02,459.0,1,28,459.000,59,158328.44,38.86,Middle Balance,5508.0,0.000294,12366.44,Surplus,0.016667,0.2,0.000333,0.066766
2,2002-09-14,F,866503.21,2016-08-02,2060.0,5,22,412.000,59,992575.21,420.43,High Balance,4944.0,0.001320,861559.21,Surplus,0.016667,1.0,0.000299,0.306756
3,2007-03-24,F,6714.43,2016-08-02,1762.5,4,17,440.625,59,141545.68,3.81,Middle Balance,5287.5,0.001130,1426.93,Surplus,0.016667,0.8,0.000319,0.246762
4,2002-10-08,F,53609.20,2016-08-02,676.0,5,22,135.200,59,94980.40,79.19,High Balance,1622.4,0.000433,51986.80,Surplus,0.016667,1.0,0.000098,0.306696

In [17]:
df_copy = df[['CustAccountBalance', 'TransactionAmount (INR)', 'FrequencyOfPurchasing', 
              'CustomerLifetimeValue', 'MonthlyTransactionAverage', 'RecencyDays']]

In [18]:
df_copy.head()

,CustAccountBalance,TransactionAmount (INR),FrequencyOfPurchasing,CustomerLifetimeValue,MonthlyTransactionAverage,RecencyDays
0,17819.05,25.0,1,25469.05,25.000,59
1,17874.44,459.0,1,158328.44,459.000,59
2,866503.21,2060.0,5,992575.21,412.000,59
3,6714.43,1762.5,4,141545.68,440.625,59
4,53609.20,676.0,5,94980.40,135.200,59

In [19]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

# Select the relevant features from the DataFrame
df_copy = df[['CustAccountBalance', 'TransactionAmount (INR)', 'FrequencyOfPurchasing', 
              'CustomerLifetimeValue', 'MonthlyTransactionAverage', 'RecencyDays']]

# Normalize the data using StandardScaler (to scale features to have zero mean and unit variance)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df_copy)

# Apply KMeans clustering (let's assume we want 4 clusters for this example)
kmeans = KMeans(n_clusters=4, random_state=42)
df['Lifestyle'] = kmeans.fit_predict(X_scaled)

# Map numerical cluster labels to customer lifestyle categories
lifestyle_map = {
    0: 'Low Spender',
    1: 'High Spender',
    2: 'Frequent Shopper',
    3: 'Occasional Shopper'
}

df['Lifestyle'] = df['Lifestyle'].map(lifestyle_map)

# Show the first few rows to verify the new column
print(df.head())

  CustomerDOB CustGender  CustAccountBalance TransactionDate  \
0  1994-01-10          F            17819.05      2016-08-02
1  1996-11-26          F            17874.44      2016-08-02
2  2002-09-14          F           866503.21      2016-08-02
3  2007-03-24          F             6714.43      2016-08-02
4  2002-10-08          F            53609.20      2016-08-02

   TransactionAmount (INR)  FrequencyOfPurchasing  Age  \
0                     25.0                      1   30
1                    459.0                      1   28
2                   2060.0                      5   22
3                   1762.5                      4   17
4                    676.0                      5   22

   MonthlyTransactionAverage  RecencyDays  CustomerLifetimeValue  ...  \
0                     25.000           59               25469.05  ...
1                    459.000           59              158328.44  ...
2                    412.000           59              992575.21  ...
3                    440.625           59              141545.68  ...
4                    135.200           59               94980.40  ...

   CustomerSegment EstimatedYearlySpending  NormalizedTransactionAmount  \
0   Middle Balance                   300.0                     0.000016
1   Middle Balance                  5508.0                     0.000294
2     High Balance                  4944.0                     0.001320
3   Middle Balance                  5287.5                     0.001130
4     High Balance                  1622.4                     0.000433

   SavingsPotential  SavingsPotentialStatus RecencyScore  FrequencyScore  \
0          17519.05                 Surplus     0.016667             0.2
1          12366.44                 Surplus     0.016667             0.2
2         861559.21                 Surplus     0.016667             1.0
3           1426.93                 Surplus     0.016667             0.8
4          51986.80                 Surplus     0.016667             1.0

   MonetaryScore  RFM_Score     Lifestyle
0       0.000018   0.066672  High Spender
1       0.000333   0.066766  High Spender
2       0.000299   0.306756   Low Spender
3       0.000319   0.246762   Low Spender
4       0.000098   0.306696   Low Spender

[5 rows x 21 columns]

In [20]:
df.head()

,CustomerDOB,CustGender,CustAccountBalance,TransactionDate,TransactionAmount (INR),FrequencyOfPurchasing,Age,MonthlyTransactionAverage,RecencyDays,CustomerLifetimeValue,...,CustomerSegment,EstimatedYearlySpending,NormalizedTransactionAmount,SavingsPotential,SavingsPotentialStatus,RecencyScore,FrequencyScore,MonetaryScore,RFM_Score,Lifestyle
0,1994-01-10,F,17819.05,2016-08-02,25.0,1,30,25.000,59,25469.05,...,Middle Balance,300.0,0.000016,17519.05,Surplus,0.016667,0.2,0.000018,0.066672,High Spender
1,1996-11-26,F,17874.44,2016-08-02,459.0,1,28,459.000,59,158328.44,...,Middle Balance,5508.0,0.000294,12366.44,Surplus,0.016667,0.2,0.000333,0.066766,High Spender
2,2002-09-14,F,866503.21,2016-08-02,2060.0,5,22,412.000,59,992575.21,...,High Balance,4944.0,0.001320,861559.21,Surplus,0.016667,1.0,0.000299,0.306756,Low Spender
3,2007-03-24,F,6714.43,2016-08-02,1762.5,4,17,440.625,59,141545.68,...,Middle Balance,5287.5,0.001130,1426.93,Surplus,0.016667,0.8,0.000319,0.246762,Low Spender
4,2002-10-08,F,53609.20,2016-08-02,676.0,5,22,135.200,59,94980.40,...,High Balance,1622.4,0.000433,51986.80,Surplus,0.016667,1.0,0.000098,0.306696,Low Spender

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 932589 entries, 0 to 932588
Data columns (total 21 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   CustomerDOB                  932589 non-null  object
 1   CustGender                   932589 non-null  object
 2   CustAccountBalance           932589 non-null  float64
 3   TransactionDate              932589 non-null  object
 4   TransactionAmount (INR)      932589 non-null  float64
 5   FrequencyOfPurchasing        932589 non-null  int64
 6   Age                          932589 non-null  int64
 7   MonthlyTransactionAverage    932589 non-null  float64
 8   RecencyDays                  932589 non-null  int64
 9   CustomerLifetimeValue        932589 non-null  float64
 10  LoyaltyScore                 932589 non-null  float64
 11  CustomerSegment              932589 non-null  object
 12  EstimatedYearlySpending      932589 non-null  float64
 13  NormalizedTransactionAmount  932589 non-null  float64
 14  SavingsPotential             932589 non-null  float64
 15  SavingsPotentialStatus       932589 non-null  object
 16  RecencyScore                 932589 non-null  float64
 17  FrequencyScore               932589 non-null  float64
 18  MonetaryScore                932589 non-null  float64
 19  RFM_Score                    932589 non-null  float64
 20  Lifestyle                    932589 non-null  object
dtypes: float64(12), int64(3), object(6)
memory usage: 149.4+ MB

In [22]:
df = df.drop('CustomerDOB' , axis = True)
df = df.drop('NormalizedTransactionAmount' , axis = True)
df = df.drop('TransactionDate' , axis = True)

In [23]:
df.head()

,CustGender,CustAccountBalance,TransactionAmount (INR),FrequencyOfPurchasing,Age,MonthlyTransactionAverage,RecencyDays,CustomerLifetimeValue,LoyaltyScore,CustomerSegment,EstimatedYearlySpending,SavingsPotential,SavingsPotentialStatus,RecencyScore,FrequencyScore,MonetaryScore,RFM_Score,Lifestyle
0,F,17819.05,25.0,1,30,25.000,59,25469.05,685.35,Middle Balance,300.0,17519.05,Surplus,0.016667,0.2,0.000018,0.066672,High Spender
1,F,17874.44,459.0,1,28,459.000,59,158328.44,38.86,Middle Balance,5508.0,12366.44,Surplus,0.016667,0.2,0.000333,0.066766,High Spender
2,F,866503.21,2060.0,5,22,412.000,59,992575.21,420.43,High Balance,4944.0,861559.21,Surplus,0.016667,1.0,0.000299,0.306756,Low Spender
3,F,6714.43,1762.5,4,17,440.625,59,141545.68,3.81,Middle Balance,5287.5,1426.93,Surplus,0.016667,0.8,0.000319,0.246762,Low Spender
4,F,53609.20,676.0,5,22,135.200,59,94980.40,79.19,High Balance,1622.4,51986.80,Surplus,0.016667,1.0,0.000098,0.306696,Low Spender

In [24]:
df.to_csv

<bound method NDFrame.to_csv of        CustGender  CustAccountBalance  TransactionAmount (INR)  \
0               F            17819.05                     25.0
1               F            17874.44                    459.0
2               F           866503.21                   2060.0
3               F             6714.43                   1762.5
4               F            53609.20                    676.0
...           ...                 ...                      ...
932584          M             7635.19                    799.0
932585          M            27311.42                    460.0
932586          M           221757.06                    770.0
932587          M            10117.87                   1000.0
932588          M            75734.42                   1166.0

        FrequencyOfPurchasing  Age  MonthlyTransactionAverage  RecencyDays  \
0                           1   30                     25.000           59
1                           1   28                    459.000           59
2                           5   22                    412.000           59
3                           4   17                    440.625           59
4                           5   22                    135.200           59
...                       ...  ...                        ...          ...
932584                      5   34                    159.800           12
932585                      5   32                     92.000           12
932586                      4   16                    192.500           12
932587                      2   22                    500.000           12
932588                      5   23                    233.200           12

        CustomerLifetimeValue  LoyaltyScore CustomerSegment  \
0                    25469.05        685.35  Middle Balance
1                   158328.44         38.86  Middle Balance
2                   992575.21        420.43    High Balance
3                   141545.68          3.81  Middle Balance
4                    94980.40         79.19    High Balance
...                       ...           ...             ...
932584               64044.59          9.54  Middle Balance
932585               59787.42         59.24    High Balance
932586              289709.56        287.62    High Balance
932587              186617.87         10.11  Middle Balance
932588              158054.02         64.90    High Balance

        EstimatedYearlySpending  SavingsPotential SavingsPotentialStatus  \
0                         300.0          17519.05                Surplus
1                        5508.0          12366.44                Surplus
2                        4944.0         861559.21                Surplus
3                        5287.5           1426.93                Surplus
4                        1622.4          51986.80                Surplus
...                         ...               ...                    ...
932584                   1917.6           5717.59                Surplus
932585                   1104.0          26207.42                Surplus
932586                   2310.0         219447.06                Surplus
932587                   6000.0           4117.87                Surplus
932588                   2798.4          72936.02                Surplus

        RecencyScore  FrequencyScore  MonetaryScore  RFM_Score     Lifestyle
0           0.016667             0.2       0.000018   0.066672  High Spender
1           0.016667             0.2       0.000333   0.066766  High Spender
2           0.016667             1.0       0.000299   0.306756   Low Spender
3           0.016667             0.8       0.000319   0.246762   Low Spender
4           0.016667             1.0       0.000098   0.306696   Low Spender
...              ...             ...            ...        ...           ...
932584      0.076923             1.0       0.000116   0.330804   Low Spender
932585      0.076923             1.0       0.000067   0.330789   Low Spender
932586      0.076923             0.8       0.000139   0.270811   Low Spender
932587      0.076923             0.4       0.000362   0.150878  High Spender
932588      0.076923             1.0       0.000169   0.330820   Low Spender

[932589 rows x 18 columns]>

In [25]:
df.to_csv('Purchasing_power_dataset.csv', index=False)
print("DataFrame saved as CSV file.")

DataFrame saved as CSV file.